@import "tailwindcss";
@custom-variant hover (&:hover);


input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@theme {
  --color-primary: #8BADD9;
  --color-bg: #403F3D;
  --color-text: #e7e5e4;
  --color-secondary: #739FD9;
  --color-accent: #DB7956;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}
